<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="FileRepositoryService" binding="netTcpBinding" contract="MainLib.IFileRepositoryService" bindingConfiguration="customTcpBinding"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding"
         maxBufferPoolSize="2147483647"
         maxBufferSize="2147483647"
         maxReceivedMessageSize="2147483647"
         receiveTimeout="03:30:00"
         closeTimeout="03:30:00"
         openTimeout="03:30:00"
         sendTimeout="03:30:00" transferMode="Streamed">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
