<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>

    <services>
      <service name="MainLib.FileRepositoryService">
        <endpoint address="net.tcp://localhost:5000" binding="netTcpBinding"
         bindingConfiguration="customTcpBinding" name="" contract="MainLib.IFileRepositoryService" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding"
         maxBufferPoolSize="2147483647"
         maxBufferSize="2147483647"
         maxReceivedMessageSize="2147483647"
         receiveTimeout="03:30:00"
         closeTimeout="03:30:00"
         openTimeout="03:30:00"
         sendTimeout="03:30:00" transferMode="Streamed">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
